.wrapper {
    margin-top: 45px;
}
.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    border: 1px solid #cccccc;
}
.input-group {
    height: 45px;
    margin-bottom: 15px;
    border-radius: 0px;
    color: #60B99A;
}
.form-control {
    height: 45px;
    color: #60B99A;
}
.input-group:hover span i {
    color: #60B99A;
}
.btn-block {
    border-radius: 0px;
    margin-top: 25px;
    background-color: #60B99A;
    border: none;
}
.btn-block:hover {
    background-color: #D3CE3D;
}
.bol {
    position: relative;
    margin-top: -40px;
    color: #60B99A;
}

.table tr td:nth-child(3), .table tr td:nth-child(4), .table tr td:nth-child(5) {
    padding-right: 20px;
}

.table tr th:nth-child(1), .table tr th:nth-child(6), .table tr th:nth-child(4), .table tr th:nth-child(5) {
    white-space: nowrap;
    width: 1px;
}
.margined-rows .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vich-image img {
    max-width: 100%;
}