{% extends '@App/modal/delete.html.twig' %}

{% block modal_id %}modalDeleteArtist{% endblock %}

{% block modal_title %}Delete artist{% endblock %}

{% block modal_body %}Do you really want to delete artist <i>{{ artist.name }}</i>?{% endblock %}

{% block modal_delete_button %}
<a href="{{ path('artist.delete', {'artistId': artist.id}) }}" type="button" class="btn btn-danger">Delete</a>
{% endblock %}
