{% extends 'base.html.twig' %}

{% block title %}{% block resource_title %}{% endblock %} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <h2>
        {% block list_heading_title %}{% endblock %}
    </h2>
{% endblock %}

{% block panelHeader %}
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {% block detail_buttons %}
                <a href="{{ path('artist.edit', {'artistId': artist.id}) }}" class="btn btn-sm btn-default"><i class="fa fa-fw fa-edit"></i> Edit</a>
                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalDeleteArtist">
                    <i class="fa fa-fw fa-trash"></i> Delete
                </button>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
