{% extends 'base.html.twig' %}

{% block title %}{% block resource_title %}{% endblock %} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <h2>
        {% block list_heading_title %}{% endblock %}
    </h2>
{% endblock %}

{% block panelHeader %}
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {% block detail_buttons %}
                <a href="{{ path('artist.list') }}" class="btn btn-sm btn-default"><i class="fa fa-fw fa-times"></i> Cancel</a>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block panelBody %}
    <div class="col-sm-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}