{% extends 'base.html.twig' %}

{% block title %}{% block resource_title %}{% endblock %} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <h2>
        {% block list_heading_title %}{% endblock %}
    </h2>
{% endblock %}

{% block panelHeader %}
    <div class="row">
        <div class="col-sm-6">
            {% block list_add_button %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% set pages = (count / limit) | round(0, 'ceil') %}

{% block panelFooter %}
    <i>
        Number of records: {{ count }}
        Page: {{ app.request.query.get('page', 1) }} of {{ pages }}
    </i>
{% endblock %}