{% extends '@App/modal/delete.html.twig' %}

{% block modal_id %}modalDeleteAlbum{% endblock %}

{% block modal_title %}Delete album{% endblock %}

{% block modal_body %}Do you really want to delete album <i>{{ album.title }}</i>?{% endblock %}

{% block modal_delete_button %}
<a href="{{ path('album.delete', {'albumId': album.id}) }}" type="button" class="btn btn-danger">Delete</a>
{% endblock %}
