<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Music library{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div class="container">
        {% block header %}
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <a href="{{ path('app') }}">Music library</a>
                </h1>
            </div>
        </div>
        <br />
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('artist.list') }}">Artist</a></li>
                    <li><a href="{{ path('album.list') }}">Albums</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-xs-12">
                {% block breadcrumb %}{% endblock %}
            </div>
        </div>
        {% endblock %}
        <br />
        {% for message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block panelHeader %}{% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block panelBody %}{% endblock %}
                    </div>
                    <div class="panel-footer">
                        {% block panelFooter %}&nbsp;{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">2017, Ivan Miškuf</div>
    </div>
    {% block modals %}{% endblock %}
{% endblock %}
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
