{% extends '@App/detail.html.twig' %}

{% block resource_title %}{{ artist.name }}{% endblock %}

{% block list_heading_title %}{{ artist.name }}{% endblock %}

{% block modals %}
    {% include '@MadeSimpleMusicLibrary/Artist/modal/delete.html.twig' %}
{% endblock %}

{% block detail_buttons %}
    <a href="{{ path('artist.edit', {'artistId': artist.id}) }}" class="btn btn-sm btn-default">
        <i class="fa fa-fw fa-edit"></i> Edit
    </a>
    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalDeleteArtist">
        <i class="fa fa-fw fa-trash"></i> Delete
    </button>
{% endblock %}

{% block panelBody %}
    <div class="margined-rows">
        <div class="row">
            <div class="col-sm-3"><label>Name:</label></div>
            <div class="col-sm-9">{{ artist.name }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><label>Genre:</label></div>
            <div class="col-sm-9">{{ artist.genre }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><label>Country:</label></div>
            <div class="col-sm-9">{{ artist.country }}</div>
        </div>
        {% if artist.url is not null %}
        <div class="row">
            <div class="col-sm-3"><label>Artist site:</label></div>
            <div class="col-sm-9"><a href="{{ artist.url }}" target="_blank">{{ artist.url }}</a></div>
        </div>
        {% endif %}
        {% if artist.image is not null %}
            <div class="row">
                <div class="col-sm-3"><label>Image:</label></div>
                <div class="col-sm-9">
                    <img src="{{ vich_uploader_asset(artist, 'imageFile') | imagine_filter('music_library_artist_detail') }}" class="img-responsive" />
                </div>
            </div>
        {% endif %}
    </div>
    {% if artist.albums.count > 0 %}
        <hr />
        <h3>Albums</h3>
        {% for album in artist.albums %}
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div>
                    <a href="{{ path('album.detail', {'albumId': album.id}) }}">
                    {% if album.image is null %}
                        <img src="{{ asset('assets/img/no-preview.png') }}" class="img-responsive" />
                    {% else %}
                        <img src="{{ vich_uploader_asset(album, 'imageFile') | imagine_filter('music_library_album_thumb') }}" class="img-responsive" />
                    {% endif %}
                    </a>
                </div>
                <h5>
                    <a href="{{ path('album.detail', {'albumId': album.id}) }}">{{ album.title }}</a>
                </h5>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}

{% block panelFooter %}
    <i>Created: {{ artist.createdAt | date('j.n.Y H:i') }} / Last modification: {{ artist.modifiedAt | date('j.n.Y H:i') }}</i>
{% endblock %}