{% extends '@App/list.html.twig' %}

{% block resource_title %}List of artists{% endblock %}

{% block list_heading_title %}List of artists{% endblock %}

{% block list_add_button %}
    <a href="{{ path('artist.add') }}" class="btn btn-sm btn-primary" title="Add artist"><i class="fa fa-fw fa-plus"></i> Add artist</a>
{% endblock %}

{% block panelBody %}
    {% if artists is not defined or artists is empty %}
        <br />
        <h3 class="text-center">No records found.</h3>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                {% set
                headers = {
                'id':     'ID',
                'name':   'Name',
                'genre':  'Genre'
                }
                %}

                {% for key, value in headers %}
                    {% set iconClass = 'fa-unsorted' %}
                    {% set order = 'asc' %}
                    <th>
                        {{ value }}
                        {% if app.request.query.get('order') == key %}
                            {% if app.request.query.get('order_type') == 'asc' %}
                                {% set iconClass = 'fa-sort-asc' %}
                                {% set order = 'desc' %}
                            {% else %}
                                {% set iconClass = 'fa-sort-desc' %}
                            {% endif %}
                        {% endif %}

                        {% set parameters = {'order': key, 'order_type': order} %}
                        {% if app.request.query.has('phrase') %}
                            {% set parameters = {'phrase': app.request.query.get('phrase')} | merge(parameters)  %}
                        {% endif %}
                        <a href="{{ path(app.request.attributes.get('_route'), parameters ) }}">
                            <i class="fa {{ iconClass }}"></i>
                        </a>
                    </th>
                {% endfor %}
                <th>Album count</th>
            </tr>
            </thead>
            <tbody>
            {% for artist in artists %}
                <tr>
                    <td>{{ artist.id }}</td>
                    <td><a href="{{ path('artist.detail', {'artistId': artist.id}) }}">{{ artist.name }}</a></td>
                    <td>{{ artist.genre }}</td>
                    <td>{{ artist.albums.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pages > 1 %}
            <div class="text-center">
                <ul class="pagination">
                    {% for i in 1..pages %}
                        <li{% if app.request.query.get('page', 1) == i %} class="active" {% endif %}>
                            <a href="{{ path('artist.list', app.request.query.all() | merge({'page': i})) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}