{% extends 'base.html.twig' %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block body %}
    <div class = "container">
        <div class="wrapper">
            <form action="{{ path('login') }}" method="post" class="form-signin">
                <div class="row text-center bol"><i class="fa fa-circle"></i></div>
                <h3 class="form-signin-heading text-center">
                    <img src="{{ asset('assets/img/discoball.jpg') }}" alt=""/>
                </h3>
                <hr class="spartan">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" name="_username" placeholder="Username" value="{{ last_username }}" required="" autofocus="" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="_password" placeholder="Password" required=""/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Enter" type="Submit">Enter</button>
            </form>
        </div>
    </div>
{% endblock %}