{% extends '@App/form.html.twig' %}

{% block resource_title %}Add album{% endblock %}

{% block list_heading_title %}Add album{% endblock %}

{% block detail_buttons %}
    <a href="{{ path('album.list') }}" class="btn btn-sm btn-default"><i class="fa fa-fw fa-times"></i> Cancel</a>
{% endblock %}