{% extends '@App/detail.html.twig' %}

{% block resource_title %}{{ album.title }}{% endblock %}

{% block list_heading_title %}{{ album.title }}{% endblock %}

{% block modals %}
    {% include '@MadeSimpleMusicLibrary/Album/modal/delete.html.twig' %}
{% endblock %}

{% block detail_buttons %}
    <a href="{{ path('album.edit', {'albumId': album.id}) }}" class="btn btn-sm btn-default">
        <i class="fa fa-fw fa-edit"></i> Edit
    </a>
    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalDeleteAlbum">
        <i class="fa fa-fw fa-trash"></i> Delete
    </button>
{% endblock %}

{% block panelBody %}
    <div class="margined-rows">
        <div class="row">
            <div class="col-sm-3"><label>Artist:</label></div>
            <div class="col-sm-9">
                <a href="{{ path('artist.detail', {'artistId':  album.artist.id}) }}">{{ album.artist.name }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><label>title:</label></div>
            <div class="col-sm-9">{{ album.title }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><label>Year of publication:</label></div>
            <div class="col-sm-9">{{ album.year }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><label>Number of songs:</label></div>
            <div class="col-sm-9">{{ album.songCount }}</a></div>
        </div>
        {% if album.image is not null %}
            <div class="row">
                <div class="col-sm-3"><label>Image:</label></div>
                <div class="col-sm-9">
                    <img src="{{ vich_uploader_asset(album, 'imageFile') | imagine_filter('music_library_album_detail') }}" class="img-responsive" />
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block panelFooter %}
    <i>Created: {{ album.createdAt | date('j.n.Y H:i') }} / Last modification: {{ album.modifiedAt | date('j.n.Y H:i') }}</i>
{% endblock %}